@{
    ViewData["Title"] = "repair manager";
}

<div class="container p-5 my-0 bg-secondary text-white">
    <h1 class="display-5">place holder</h1>
    <div class="d-grid gap-4">
        <a class="button btn btn-primary pt-2" asp-area="" asp-controller="Classes" asp-action="Index">test1</a>
        <a class="button btn btn-primary pt-2" asp-area="" asp-controller="Items" asp-action="Index">test2</a>
        <a class="button btn btn-primary pt-2" asp-area="" asp-controller="Item_damages" asp-action="Index">test3</a>
        <a class="button btn btn-primary pt-2" asp-area="" asp-controller="damages_report" asp-action="Index">test4</a>
        <a class="button btn btn-primary pt-2" asp-area="" asp-controller="Catagories" asp-action="Index">test5</a>
        <a class="button btn btn-primary pt-2" asp-area="" asp-controller="Staffs" asp-action="Index">test6</a>
        <a class="button btn btn-primary pt-2" asp-area="" asp-controller="Users" asp-action="Index">test7</a>
    </div>
    <from class="d-flex">
    <a class="pt-5"><a/>
    </from>
</div>

