@{
    ViewData["Title"] = "sauage";
}

<div class="container p-5 my-0 bg-secondary text-white">
    <h1 class="display-4">no</h1>
    <p>you can go home at <a href="https://www.youtube.com/shorts/QvOoFUON6oM" c>just to fly</a>.</p>
    <div class="d-grid">
        <button type="button" class="btn btn-primary" asp-controller="Home" asp-action="Classes">test</button>


    </div>
</div>

